@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

h1, h2 {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  font-weight: 700;
}
